{% extends 'base.html' %}

{% block content %}
<section class="banner">
    <div class="gallery-header">
        <h1>Gallery</h1>
    </div>
    <div class="gallery-item">
        <a href="{{ url_for('static', filename='images/image.png') }}" data-lightbox="gallery" data-title="Before">
            <img src="{{ url_for('static', filename='images/image.png') }}" alt="Before">
        </a>
        <a href="{{ url_for('static', filename='images/image.png') }}" data-lightbox="gallery" data-title="After">
            <img src="{{ url_for('static', filename='images/image.png') }}" alt="After">
        </a>
    </div>
</section>
{% endblock %}
